<main class="w-full flex flex-col pb-20 lg:pb-8">
  <ng-container *ngIf="loading">
    <div class="max-w-5xl mx-auto mt-20 text-center text-gray-500">Carregando perfil...</div>
  </ng-container>

  <ng-container *ngIf="!loading && errorMessage">
    <div class="max-w-5xl mx-auto mt-20 rounded-3xl border border-red-200 bg-red-50 p-6 text-red-700">{{ errorMessage }}</div>
  </ng-container>

  <ng-container *ngIf="!loading && !errorMessage">
    <app-hero [profile]="profile"></app-hero>

    <div class="max-w-5xl w-full mx-auto grid grid-cols-1 lg:grid-cols-3 gap-6 mt-8">
      <div class="lg:col-span-2">
        <app-about [profile]="profile"></app-about>
      </div>
      <div>
        <app-stats-card
          [followersCount]="followersCount"
          [followingCount]="followingCount"
          [postsCount]="profile?.posts_count ?? 0"
        ></app-stats-card>
      </div>
    </div>

    <div class="max-w-5xl w-full mx-auto mt-8">
      <app-tabs></app-tabs>
      <app-posts-grid></app-posts-grid>
    </div>
  </ng-container>
</main>



